form {
  height: 100%;
  width: 100%;
  color: black;
  background-color: #DCDCDC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  color: black;
  width: 200px;
  font-size: large;
  border-radius: 10px;
}

input:hover {
  background-color: #DCDCDC;
  cursor: pointer;
}

label {
  font-size: 19px;
}

button {
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #DCDCDC;
}

img {
  width: 20px;
  height: 20px;
}

table {
  text-align: center;
  border-collapse: solid;
  /* CSS2 */
  background: #FFFFF0;
  border: solid #DCDCDC 1px;
  /* Precedência tem bug no IE */
}